   body {
    background: linear-gradient(90deg,rgba(132, 202, 232, 1) 0%, rgba(135, 208, 237, 1) 50%, rgba(153, 190, 232, 1) 100%);
    font-family: 'Poppins';
  }

  body::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }

  .phishGuideContainer {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .guideTitleContainer {
    margin-bottom: -25px;
  }

  .guideTitle {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
  }

  main#carousel {
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --position: 1;
  }
  
  div.item {
    position: absolute;
    width: 300px;
    height: 400px;
    padding: 10px;
    border-radius: 10px;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
    box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.2); 
  }
  
  div.item:nth-of-type(1) {
    --offset: 1;
    background-color: #fff;
  }
  div.item:nth-of-type(2) {
    --offset: 2;
    background-color: #fff;
  }
  div.item:nth-of-type(3) {
    --offset: 3;
    background-color: #fff;
  }
  div.item:nth-of-type(4) {
    --offset: 4;
    background-color: #fff;
  }
  div.item:nth-of-type(5) {
    --offset: 5;
    background-color: #fff;
  }

  .item__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    user-select: none;
  }

  .slider__image {
    width: 50px;
    height: 50px;
    color: #2196F3;
    margin-top: 10px;
  }
 
  hll {
    color: rgb(36, 113, 177);
  }

  .item__content h2 {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .item__content p {
    color:#979797;
  }

  .footerLogo {
    width: 47px;
    height: 40px;
    position: absolute;
    bottom: 15px;
    right: 15px;
  }

  @media only screen and (max-height: 550px) {
    .footerLogo {
      display: none;
    }
  }