    body {
      font-family: 'Poppins', sans-serif;
      margin-top: 20px;
      color: #333;
      background-color: #f9f5f1;
      font-size: large;
    }
    img {
      width: auto;
      height: 40px;
      margin-left: 35%;
    }
    h3 {
      color: #2c3e50;
      font-weight: bolder;
      margin-bottom: 5px;
    }
    video {
      max-width: 680px;
      max-height: 480px;
      margin-top: 5px;
    }
    #closeButton {
      margin-top: 10px;
      background-color: #256cc3;
      border: none;
      color: white;
      padding: 12px 24px;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
      display: block;
      width: 100%;
      max-width: 200px;
      margin-left: auto;
      margin-right: auto;
    }
    #closeButton:hover {
      background-color: #348af3;
    }
    .buttons_container {
      padding:20px 20px 20px 0;
      width: 100%;
      margin-top: 25px;
    }
    .btns_button {
        font-size: 16px;
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 0;
        color: white;
        background-color: transparent;
        text-align: left;
        line-height: 1.6;
        transition: 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        cursor: pointer;
    }
     .btns_button_active {
        color: white;
        width: 100%;
        background-color: #1e59a1;
        cursor: default;
    }
    .buttonSVG {
      padding:10px;
      width: 30px;
    }
    .buttonText {
      width: 125px;
    }
    .size-6{
      width: 30px;
      height: 30px;
    }
    .guide_container {
      display: flex;
      justify-content: center;
      margin: 20px auto 0 auto;
      padding: 0;
      max-width: 1000px;
    }
    .guide_tabs {
      background-color: #348af3;
      max-width: 350px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    .guide_content_container {
      max-width: 750px;
      background-color: #fff;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .guide_content {
      margin: 40px 40px;
    }

    div.step2 {
      display: none;
    }

    .navLinks {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }

    .prevBtn {
      text-decoration: none;
      color: #348af3;
      border: none;
      background-color: transparent;
      font-size: large;
    }

    .prevBtn:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    .nextBtn {
      text-decoration: none;
      color: #348af3;
      border: none;
      background-color: transparent;
      font-size: large;
    }

    .nextBtn:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    .step1_next {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }

    .step5_prev {
      width: 100%;
      display: flex;
      justify-content: flex-start;
    }

  .bullet-item::before {
    content: "•";   
    margin: 0 8px 0 8px;
    color: black;    
    font-size: 24px;
    font-weight: bold;
  }

  .stayAlertPNG {
    display: block;
    width: auto;
    max-width: 560px;
    height: auto;
    max-height: 380px;
    margin: 0;
    padding-left: 150px;
    padding-right: 150px;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
  }

  /* background animation */
  .waves {
    position:relative;
    width: 100%;
    height:15vh;
    min-height:200px;
    max-height:300px;
  }
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
    transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }