    body {
      font-family: 'Poppins', sans-serif;
      margin-top: 20px;
      color: #333;
      background-color: #f9f5f1;
      font-size: large;
    }
    img {
      width: auto;
      height: 40px;
      margin-left: 35%;
    }
    h3 {
      color: #2c3e50;
      font-weight: bolder;
      margin-bottom: 5px;
    }
    video {
      max-width: 680px;
      max-height: 480px;
      margin-top: 5px;
    }
    #closeButton {
      margin-top: 30px;
      background-color: #256cc3;
      border: none;
      color: white;
      padding: 12px 24px;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
      display: block;
      width: 100%;
      max-width: 200px;
      margin-left: auto;
      margin-right: auto;
    }
    #closeButton:hover {
      background-color: #348af3;
    }
    .buttons_container {
      padding:20px 20px 20px 0;
      width: 100%;
      margin-top: 40px;
    }
    .btns_button {
        font-size: 16px;
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 0;
        color: white;
        background-color: transparent;
        text-align: left;
        line-height: 1.6;
        transition: 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        cursor: pointer;
    }
     .btns_button_active {
        color: white;
        width: 100%;
        background-color: #1e59a1;
        cursor: default;
    }
    .buttonSVG {
      padding:10px;
      width: 30px;
    }
    .buttonText {
      width: 125px;
    }
    .size-6{
      width: 30px;
      height: 30px;
    }
    .guide_container {
      display: flex;
      justify-content: center;
      margin: 20px auto 0 auto;
      padding: 0;
      max-width: 1000px;
    }
    .guide_tabs {
      background-color: #348af3;
      max-width: 350px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    .guide_content_container {
      max-width: 750px;
      background-color: #fff;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .guide_content {
      margin: 40px 40px;
      
    }

    div.step2 {
      display: none;
    }

    .navLinks {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }

    .prevBtn {
      text-decoration: none;
      color: #348af3;
    }

    .prevBtn:hover {
      text-decoration: underline;
    }

    .nextBtn {
      text-decoration: none;
      color: #348af3;
    }

    .nextBtn:hover {
      text-decoration: underline;
    }

    .step1_next {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }

  .footer {
    position: absolute;
    bottom: 0;
    z-index: -1;
    background-color: #f9f5f1;
    color: white;
    overflow: hidden;
    width: 100%;
  }

  .wave-container {
    top: 100px;
  }

  .wave {
    width: 100%;
    height: 250px;
    padding: 20px;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
    margin: 0;
    
  }

  .footer-left {
    display: flex;
    align-items: center;
    font-size: 1rem;
  }

  .footer-left a {
    color: white;
    text-decoration: underline;
  }

  .footer-icon {
    font-size: 1.5rem;
  }

  .footer-right .social-icon {
    font-size: 1.5rem;
    margin-left: 1rem;
    text-decoration: none;
    color: white;
    transition: transform 0.2s;
  }

  .footer-right .social-icon:hover {
    transform: scale(1.2);
  }

  .bullet-item::before {
    content: "•";   
    margin: 0 8px 0 8px;
    color: black;    
    font-size: 24px;
    font-weight: bold;
  }
