body {
    font-family: 'Poppins';
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
 }

* {
    box-sizing: border-box;
}

 .contactListContainer {
    width: 100%;
    margin: 0;  
    padding: 0;
 }

 .contactListHeader {
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: white;
    border: 1px solid transparent; 
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); 
    margin: -10px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
 }
 
.contactListHeader svg {
    width: 20px;
    height: 20px;
    margin: 12px 12px 12px 12px;
    color: #929292;
    cursor: pointer;
 }

 .contactListHeader h4 {
    font-size: 20px;
    margin: 0;
    padding-top: 10px;
 }

 .contactListContent {
    width: 100%;
    margin: 0;
    padding: 0;
 }

 .contactListItems {
    width: 100%;
    padding-left: 0;
 }

 .contactListItems .contactCard {
    list-style: none;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin: 15px 15px 15px 15px;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); 
    background-color: white;
    position: relative;
 }

 .contactCard img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
 }

 .contactCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .contactCard .contactTitle {
      text-align: center;
      display: flex;
      align-items: center;
 }

 .contactCard svg {
    width: 20px;
    height: 20px;
    margin-left: auto;
    color: #929292;
    cursor: pointer;
 }

 .contactCard .erufSVGUp {
   display: none;
 }

 .ulLogo_police  {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border-radius: 0%;
 }

 .ulContent_ERUF{
    display: none;
 }

 .ulContent_cebuBFP {
    display: none;
 }

 .ulContent_police {
    display: none;
 }

 .ulContent_hospital {
    display: none;
 }

 .contact_dropdown {
      width: 100%;
      margin-left: -15px;
      overflow: hidden;
      height: 0;
      transition: height 0.3s ease;
 }


 .contact_dropdown li {
   width: 95%;
   display: flex;
   justify-content: space-between;
   border: 1px solid #e0e0e0;
   background-color: white;
   box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); 
   border-radius: 5px;
   padding: 10px;
 }

 .contact_dropdown svg {
   width: 20px;
    height: 20px;
    color: #929292;
 }

 .listItemContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
 }

 